<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="home">
      <div class="hero">
        <h1>Ganesh Mahotsav 2025</h1>
        <img src="/61b2183761c8031571d4dc81a6eea0bb-removebg-preview.png " />
      </div>
      <div class="element">
        <button class="event-btn">
          <a href="/events" class="event-link">
            <h3>
              <i class="fa-solid fa-calendar-days"></i> Ganesh Puja Schedule
            </h3>
          </a>
        </button>

        <h2>GANESH CHATURTHI DASHBOARD</h2>
        <p> Donation: <%= donationSum %></p>
       <p>Village donations: <%= villageDonationSum  %></p>
       <p>Total Donations:<%= totalDonation %></p>
        <p>Total Expenses: <%= totalExpenses %></p>
        <p>Remaing Budget:<%= totalDonation - totalExpenses%></p>
         

        <div class="btn">
          <button>
            <a href="/donations" style="text-decoration: none; color: white">
              View Donations</a
            >
          </button>

          <button class="expenses">
            <a href="/expenses" style="text-decoration: none; color: #eda02f"
              >View Expenses</a
            >

             <button class="villagedonations">
            <a href="/villagedonations" style="text-decoration: none; color: #ffffff"
              >Village Donations</a
            >
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
